@import '../../utils/variables.css';

.link-wrapper {
	margin-top: 6rem;
	margin-bottom: 12rem;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.links-list {
	list-style-type: none;
}

.links-list:not(:last-child) {
	margin-bottom: 1.25rem;
}

.links-list a {
	text-decoration: none;
	color: black;
	font-size: 1.75rem;
}

.disabled-link {
	color: var(--black);
	text-decoration: line-through;
	pointer-events: none;
}

@media screen and (max-width: 1000px) {
    .title-wrapper{
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    .link-wrapper{
        margin-bottom: 9rem;
    }
	.links-list a {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 400px) {

    .link-wrapper{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

	.links {
        justify-content: center;
		flex-direction: column;
	}

    .links-list{
        text-align: center;
    }

    .links-list:last-child{
        margin-bottom: 1.25rem;
    }
}
