@import '../../utils/variables.css';

.about-section {
	margin-top: 5rem;
	min-height: 86vh;
	width: 100%;
	height: 100%;
}

.about-me-heading {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 3rem;
	border-bottom: black 1px solid;
}

.first-about-paragraph,
.second-about-paragraph {
	font-weight: 300;
}

.first-about-paragraph,
.second-about-paragraph,
.third-about-paragraph {
	font-size: 2rem;
}

.first-about-paragraph,
.second-about-paragraph,
.third-about-paragraph:not(:last-child) {
	margin-bottom: 3rem;
}

.third-about-paragraph {
	margin-top: 4rem;
	font-style: italic;
}

.contact-link {
	color: black;
	font-weight: 600;
	text-decoration: underline 3px;
}

/* Media Queries */

/* Small devices */
@media screen and (max-width: 600px) {
}

/* Landscape tablets */
@media screen and (max-width: 768px) {
	.about-section p {
		font-size: 1.4rem !important;
		/* background: chartreuse; */
	}
}

/* Landscape tablets */
@media screen and (max-width: 992px) {
}

/* Large laptops and desktops */
@media screen and (max-width: 1200px) {

	.third-about-paragraph {
	margin-top: 0 !important;
	font-style: italic;
}

	.first-about-paragraph,
	.second-about-paragraph,
	.third-about-paragraph {
		margin-bottom: 1.5rem;
	}

	.about-section p {
		font-size: 1.7rem;
	}

	.third-about-paragraph {
		margin-bottom: 3rem;
	}
}
