.page-wrapper {
	margin-top: 8rem;
	margin-bottom: 30rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.page-title {
	font-size: 4rem;
	text-align: center;
}

.page-description {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}
