@import '../../utils/variables.css';

.container {
	height: 400px;
	text-align: center;
	padding: 5px 10px;
	margin-top: 15px;
	margin-bottom: 35px;
	background: var(--main-link-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-title {
	font-size: 2rem;
	font-weight: 400;
}

.website {
	background: url(../../../images/finishedMockup.png);
	background-position: center 35%;
	background-size: cover;
}

.uni-site {
	background: url(../../../images/Mockup.png);
	background-position: center 40%;
	background-size: cover;
}

