@import '../utils/variables.css';
*,
*::before,
*::after {
	text-decoration: none;
}

.nav-bar-links {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0.5rem;
}

.nav-links a{
    font-weight: 400;
}

.nav-links > a:not(:last-child) {
	margin-right: 3rem;
}

.language-links {
    /* TO DECIDE LATER COULD LOOK GOOD */
	/* border-right: orange 2px solid; */
}

.language-links > a:not(:first-child) {
	padding-left: 4px;
	padding-right: 2px;
}
.language-links > a:not(:last-child) {
	padding-right: 4px;
}

.link {
	text-decoration: none;
	color: var(--main-link-color)
}

.activeNav {
	border-bottom: var(--main-link-color) 2px;
}

.listItem {
	list-style-type: none;
}
